:root {
    --color-black: #252525;
    --color-orange: #FF9F51;
    --color-skyblue: #0096DC;
    --color-oceanblue: #0078B7;
    --color-lightblue: #0BB3DB;
    --color-paleblue: #098FA8;
    --color-leafgreen: #ABCA52;
    --color-leafdarkgreen: #779944;
}