@import url("./color-pallete.css");
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    padding-left: 1rem;
}

p{
    margin-bottom: 0;
}

.about .container{
    padding: 50px 15px 0px !important;
}


.contactus .container{
    padding: 20px 15px 0px !important;
}

.contactus #gmaps_canvas{
    width: 100%;
    height: 350px;
}
.info-map{
    position: relative;
    clear: both;
    margin-top: 10px;
}

.maps-container{
    overflow: hidden;
    height: 350px;
    width: 100%;
}

.maprouter{
    position: relative;
    
}

.gmap_canvas{
    overflow: hidden;
    background: none !important;
}

.visimisi-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.visimisi-flex>.item {
    text-align: justify;
    width: 100%;
}

.text-visi{
    text-align: justify;
    padding-right: 20px;
}
.text-misi{
    padding-right: 20px;
    text-align: justify;
}


* {
    font-family: "Raleway";
}

.product-item {
  width:  100%;
}

.product-item-img {
  z-index: 2;
}

.product-item-name {
  background-color: rgba(var(--color-background-rgb), 0.5);
  padding: 0.5em 1em;
  width: auto;
  height: auto;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.img-company{
    padding-top: 20px;
    width: 80%;
}

.logo-company-footer{
    padding: 0;
}


.identity-company{
    margin-left: 3rem;
    padding-bottom: 2rem;
}

.title-about-content{
    text-align: start;
}

.about-content{
    text-align: justify;
}

.title-part-1{
    color: var(--color-primary)
}

.title-part-2{
    color: var(--color-secondary);
}

@media (min-width: 576px) { 
    .identity-company{
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .img-company{
        width: 40%;
    }
    .product-item {
        width:  12rem;
        height: 14rem;
      }
    .visimisi-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        row-gap: 2rem;
    }
    .visimisi-flex>.item {
        width: 49%;
    }
}


@media (min-width: 768px) { 
    .img-company{
        width: 100%;
    }

    .contactus .container{
        padding: 10px 40px 10px !important;
    }

    .about .container{
        padding: 50px 40px 0px !important;
    }
    .product-item {
        width:  12rem;
        height: 14rem;
    }
    .title-company-footer,
    .address-company-footer{
        margin-left: 3rem;
    }

    .visimisi-flex>.item {
        padding-right: 2rem;
    }
}

@media (min-width: 992px) {
    .img-company{
        width: 65%;
    }


    .product-item {
        width:  18rem;
        height: 22rem;
    }
    .title-company-footer,
    .address-company-footer{
        margin-left: 5rem;
    }
    .visimisi-flex>.item {
        padding-right: 2rem;
    }
}

